.w3-col-auto {
  float: left;
  width: auto;
}

.col-right {
  float: left;
}

.no-padding-left {
  padding-left: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.company-logo {
  height: 100px;
}

.tecnologies .w3-tag {
  margin-top: 3px;
  margin-right: 3px;
}